/* 共通部分 */

html{
  font-size: 100%;
}
body{
  font-family:AvenirNextLTW01-Regular ,Noto Sans JP, sans-serif;
  line-height: 1.7;
  color:rgb(7,65,93);
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  width: 100%;
}
*{
  margin: 0;
  
}

/* HEADER */

header{
  display: flex;
  
  margin-left: 25px;
}
header img{
  margin-top: 9px;
}

header nav{
  margin-left: auto;
}

header ul{
  /* margin-top: 20px; */
  list-style: none;
  display: flex;
  margin-left: auto;
}

header li{
  text-align: center;
  margin: 0 12px;
  color: rgb(77,194,219);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-top: 20px;
}
header li span{
  display: block;
  font-family:Noto Sans JP, sans-serif ;
  font-size: 12px;
  color:rgb(7,65,93) ;
  margin-top: 5px;
}
header li a:hover{
  color:rgb(7,65,93) ;
}

header li:last-child{
  background-color:rgb(252, 202, 39) ;
  color:rgb(7,65,93) ;
  padding: 22px 31px 22px 31px;
  margin-right: 0;
}
header li:last-child:hover{
  background-color: rgba(252, 202, 39,.7);
}

/* TOP */
.pc { display: block !important; }
.sp { display: none !important; }
 
.top img{
  height: 570px;
  object-fit: cover;
}

@media(min-width:1400px){
  .top img{
    height: auto;
    object-fit: cover;
  }
}
@media(max-width:1150px){
  .top img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/* SIDENAVI */

#side-navi{
  width: calc(50% - 320px);
  height: 390px;
  position: fixed;
  top: 40px;
  right: 0;

}
#side-navi ul{
  list-style: none;
  padding: 0;
}
#side-navi li{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(7,65,93);
  font-size: 17px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
}
#side-navi li a:hover{
  color: #d19898;
}
#side-navi li:last-child{
  background-color:#FCCA27 ;
  color: rgb(7,65,93);
}
#side-navi li:last-child:hover{
  background-color:rgba(252, 202, 39,.7);
  color: rgb(7,65,93);
}
#side-navi span{
  display: block;
  font-size: 10px;
}

.show-navi #side-navi{
  display: none;
  pointer-events: none;
}




/* SURVICE */
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 70px;
}
.wrapper h2{
  font-size: 35px;
  font-weight: normal;
  padding-top: 90px;
  color: rgb(77,194,219);
}

.bg{
  background-image:url(../tops.png) ;
  background-size:contain ;
  background-repeat: no-repeat;
  background-position: right 35% top;
  height: 700px;
}

/* INSTAGRAM */

.insta{
  background-color: #F8F8F8;
  height:520px ;
  margin: 0 auto;
  padding: 0 70px;

}

.insta img{
  width: 45px;
  margin-right: 30px;
  
}
.insta h1{
  padding-top: 90px;
  line-height:60px ;
  font-size:40px ;
  font-weight: normal;
  color: rgb(77,194,219);
}
.insta p{
  padding-top: 90px;
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  margin-right: 20%;
}
.insta .btn{
  width: 170px;
  height: 60px;
  margin-top: 60px;
  background: linear-gradient(to bottom right,#E7FB4A,#6560ED,#F34675);
  border-radius: 7px;
  display: block;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
 
}

.insta .btn:hover{
  background-color:#660C8E ;
  background: linear-gradient(to bottom right,#8c992e,#2c2a64,#752239);
}

.reason{
  background-image: url(../sky.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover{
  max-width: 750px;
  margin: 0 auto;
  padding-right: 25%;
  padding-bottom: 100px;
}
.reason h1{
  font-size: 39px;
  font-weight: normal;
  padding-left: 20px;
  padding-top: 50px;
}
.cover h2{
  font-size: 35px;
  font-weight: normal;
  border-bottom: 3px solid #707070;
  margin-top: 60px;
  text-align: right;
  margin-bottom: 30px;
}

.container img{
  width: 700px;
  height: 419px;
  border-radius: 15px;
 
}
.container{
  position: relative;
  margin-bottom: 300px;
}
.container .text{
  width: 600px;
  height: 290px;
  background-color: #ffffff;
  position: absolute;
  top:300px;
  left: 60px;
  margin-left:auto ;
  padding: 50px ;
  box-shadow: 10px 8px 11px rgba(0, 0, 0, .16);
}
.text h3{
  font-size: 44px;
  
}
.text h3 span{
  font-size: 12px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding: 10px 20px;
  margin-left: 70px;
}
.text p{
  font-size: 15px;
  line-height: 80px;
}

.survice> .cover{
  background-color:#F8F8F8 ;
}
.cover .content{
  display: flex;
  flex-direction: reverse;
  justify-content: space-between;
}
.a{
  flex-direction: row-reverse;
}

.cover .content img{
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  
}

.cover .content h3{
  font-size: 25px;
  font-weight: 400;
}
.cover .content p{
  font-size: 16px;
}

.cover .content>div{
  margin-left: 50px;
}
.a>div{
  margin-right: 50px;
}
.cover .content h3{
  margin-top: 40px;
}
.cover .content p{
  margin-top: 40px;
}

/* MENU */

#menu{
  background-color:#4DC2DB ;
}
.title{
  font-size: 39px;
  color: #ffffff;
  font-weight: 300;
  padding: 20px 0 20px 40px;
}

.ttls{
  display: flex;
  justify-content: space-between;
  width:670px ;
  padding: 39px 50px 39px 50px;
  background-color: #07415D;
  border-radius: 22px 22px 0 0 ;
  margin-top: 20px;
}
.ttls div{
  display: flex;
}
.ttls h3{
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  margin-right: 30px;
}
.ttls p{
  display: block;
  width: 110px;
  line-height: 35px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 14px;
  padding-top: 5px;
  margin-left: 30px;
  
}
.menu-price1{
  width: 670px;
  background-color: #ffffff;
  padding: 39px 50px 39px 50px;
  margin-top: 2px;
}
.menu-price2{
  width: 670px;
  background-color: #ffffff;
  padding: 39px 50px 39px 50px;
  margin-top: 2px;
}
.menu-price2 dt{
  padding: 75px 0;
  
}
.menu-price2 span{
  font-size:18px ;
  margin-right: 30px;
}
.menu-price2 dd{
  border-bottom: 1px solid #707070;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.menu-price2 div{
  margin-left:auto;
  text-align: right;
}
.menu-content dl{
  display: flex;
}
.menu-content dt{
  font-size: 18px;
  line-height: 44px;
}
.menu-content dd{
  font-size: 28px;
  line-height: 44px;
  margin-left: auto;
  letter-spacing: 2px;
}
.menu-price{
  width: 670px;
  background-color: #ffffff;
  padding: 39px 50px 39px 50px;
  margin-top: 2px;
}
.menu-price ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
.menu-price li{
  max-width:46% ;
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
  
}

/* SHOP */
#shop{
  background-color: #F8F8F8;
}

#shop .cover{
  padding-bottom: 0px;
}

#shop .title{
  color:rgb(77,194,219) ;
}
.container{
  display: flex;
  flex-wrap: wrap;
 
}
.shop-content{
  margin-right: 55px;
  margin-top: 50px;
}
.shop-content img{
  width: 316px;
  height: 180px;
  border-radius: 0px;
}
.shop-content h3{
  font-size: 20px;
  color: rgb(77,194,219);
  font-weight: 300;
  margin-top: 10px;
}
.shop-content h4{
  font-size:12px ;
  color: rgb(77,194,219);
  font-weight:200 ;
}
.shop-content p{
  font-size: 20px;
  margin-top: 30px;
}
.shop-content .btn2{
  font-size: 12px;
  padding: 10px 0 10px 0;
  background-color:#FCCA27 ;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
}

.shop-content .btn2:hover{
  background-color:#a08324 ;
}

/* NEWS */

#news .title{
  color:rgb(77,194,219) ;

}
.news-content{
  background-color:#F8F8F8 ;
  left: 0;
  padding-left: 30px;
  margin-top: 10px;
}
.news-content p{
  font-size: 16px;
  padding-top: 30px;
}
.news-content h3{
  font-size: 16px;
  font-weight: 500;
  line-height: 75px;
}
.btn3{
  background-color: rgb(77,194,219);
  color: #ffffff;
  padding: 15px;
  border-radius: 4px;
  margin-top: 100px;
  margin-left: 30px;
  display: inline-block;
}
.btn3:hover{
  background-color:rgb(147, 210, 224) ;
}

/* ABOUT */

#about {
  background-color:#C1DBFE ;
}
#about .title{
  color: rgb(7,65,93);
}

#about p{
  color: rgb(7,65,93);
  font-size:16px;
  line-height: 50px;
  padding-left: 40px;
  margin-top: 50px;

}
 /* ハンバーガー */
 .sp-menu{
  margin-left: auto;
  text-align: right;
  display: none;
  pointer-events: none;
}
.sp-menu #open{
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
  z-index: 100;
}
.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(147, 210, 224, .9);
  text-align: center;
  padding: 64px;
  opacity: 0; 
  pointer-events: none; 
  
  z-index: 100;
  
}
.show{
  opacity: 1;
  pointer-events: auto;
  transition: opacity .6s;
  
}
.hide{
  display: none;
}
.overlay #close{
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;

}
.overlay ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.overlay li{
  margin-top: 24px;
   opacity: 0;
  transform: translateY(16px);
  color: #ffffff;
  font-size: 20px;

}
.overlay li a:hover{
  color: rgb(7,65,93);
}
.overlay li:last-child{
  background-color: rgb(252, 202, 39);
  padding: 10px 0 10px 0;
  color: rgb(7,65,93);
}
.overlay span{
  font-size: 10px;
  margin-left: 5px;
}
.show li{
  opacity: 1;
  transform: none;
  transition: opacity .3s,transform .3s;
}
.overlay.show li:nth-child(1){
  transition-delay: .1s;
}
.overlay.show li:nth-child(2){
  transition-delay: .2s;
}
.overlay.show li:nth-child(3){
  transition-delay: .3s;
}
.overlay.show li:nth-child(4){
  transition-delay: .4s;
}
.overlay.show li:nth-child(5){
  transition-delay: .5s;
}
.overlay.show li:nth-child(6){
  transition-delay: .6s;
}
.pc-menu{
  display: none;
}
/* モバイル用 */

@media(max-width:1050px){
 
  .sp-menu{
    margin-left: auto;
    text-align: right;
    display: block;
    pointer-events: auto;
    position: fixed;
    top: 10px;
    right: 20px;
    color:#e92939 ;
  }

  header{
    display: none;
  }
  #side-navi{
    display: none;
  }

  
  .bg{
    background-position: right 20% top;
    padding-bottom: 80px;
    margin-bottom: 50px;
  }
  .cover{
    /* width: 100%; */
    padding:0 2%;
    max-width: 900px;
    margin-top: 50px;
    
  }
  .reason{
    padding-bottom: 100px;
  }
  .insta p{
    margin-right: 10%;
  }
  .container img{
    margin: 0 auto;
  }
  .container .text{
    position: static;
    
  }
  .ttls , .menu-price, .menu-price1, .menu-price2{
    width: 80%;
    margin: 0 auto;
    margin-top: 1px;
  }
  .ttls{
    margin-top: 20px;
    flex-direction: column;
  }
  
  .ttls p{
    margin-left: 0;
    margin-right: 10px;
  }
  .menu-price ul{
    padding: 0;
  }
  #menu .cover{
    padding-bottom: 50px;
  }
  #shop .container{
    width: 100%;
    justify-content: space-between;
    padding-bottom: 40px;
  }
}

@media(max-width:750px){

  .pc { display: none !important; }
  .sp { display: block !important; }


    


  .bg{
    padding-bottom: 40px;
    background-size: contain;
    height: 500px;
  }
  .bg h2{
    font-size:25px ;
  }
  .insta{
    padding-bottom: 40px;
  }
  .container img{
    max-width: 750px;
    width: 100%;
    object-fit: cover;
  }
  .container .text{
    padding: 35px;
    position:static;
    
  }
  .text h3{
    font-size: 35px;
    
  }
  .text h3 span{
    display: none;
  }
  .text p{
    font-size: 13px;
    line-height: 70px;
  }
  .cover{
    margin-top: 30px;
  }
  .cover .content img{
    width: 160px;
    height: 160px;
    margin-top: 30px;
  }
  #shop .cover{
    padding-bottom: 50px;
  }
  .shop-content{
    margin-right: 0;
  }
  #menu .cover{
    margin-top: 100px;
  }
  .reason{
    padding-bottom: 0;
  }
  .ttls , .menu-price, .menu-price1, .menu-price2{
    width: 70%;
    margin: 0 auto;
    margin-top: 1px;
  }
  .ttls{
    margin-top: 30px;
  }
  .menu-content h3{
    font-size:25px ;
    margin: 0;
  }
  .menu-content p{
    font-size:10px ;
    width: 80px;
    line-height: 25px;
    padding-top: 0;
  }
 
  .menu-price2{
    padding: 20px 50px 20px 50px;
  }
  
  
  .menu-price2 span{
    font-size:11px ;
    margin-right: 30px;
  }
  
  
  
  .menu-content dt{
    font-size: 12px;
    line-height: 30px;
  }
  .menu-content dd{
    font-size: 12px;
    line-height: 30px;
  }
  .menu-price{
    padding: 39px 50px 39px 50px;
    margin-top: 2px;
  }
  .menu-price li{
    font-size: 11px;
  }
  .reason h1{
    font-size:30px ;
  }
  
 
}
@media(max-width:450px){
  .insta p{
    padding-top:50px ;
  }
  .insta .btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .cover h2{
    font-size: 25px;
  }
  .reason .container{
    margin-bottom: 200px;
  }
  .reason .container img{
    width: 90%;
    height: 250px;
  }
  .content{
    flex-direction: column;
  }
  .cover .content img{
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .cover .content>div{
    margin: 0;
  }
  .content h3{
    text-align: center;

  }
  #shop .container{
    margin-bottom: 70px;
  }
  #news .btn3{
    margin-top: 50px;
  }
  .text p{
   
    line-height: 50px;
  }
  #open{
    z-index: 1000;
  }
}


